<!DOCTYPE html>
<html>
  <head>
    <title>WellyWalks</title>
  </head>
  <body>
    Walk with us today - below is example data for the db
    {{{body}}}
    <ul>
    <li>id:{{id}}</li>
    <li>walk_name:{{walk_name}}</li>
    <li>created_by:{{created_by}}</li>
      <li>location:{{location}}</li>
        <li>length:{{length}}</li>
          <li>duration:{{duration}}</li>
            <li>difficulty:{{difficulty}}</li>
              <li>description:{{description}}</li>
  </ul>
                  <iframe src="{{url}}"></iframe>

  </body>
</html>
