<h1>{{profile.name}}'s Profile</h1>

<img src="{{profile.image}}"/>

<p>Name: {{profile.name}}<br>
Fitness level: {{profile.level}}<br>
</p>

<h3>Bio</h3>
<p>{{profile.bio}}</p>

<h2>Fave Walks</h2>
{{#each faves}}
<li><a href="/walks/{{favwalk_id}}">{{walk_name}}</a></li>

{{/each}}
<p></p>
<a href="/">Home</a></br>
<p></p>
<a href="/profiles">Back to Profiles</a></br>