<div class="walk">

<p>I'm the view template</p>

<p>{{id}}</p>
<p>{{walk_name}}</p>
<p>{{created_by}}</p>
<p>{{location}}</p>
<p>{{length}}</p>
<p>{{duration}}</p>
<p>{{difficulty}}</p>
<p>{{description}}</p>
<p>{{url}}</p>
<p>{{image}}</p>
<p>{{dog_friendly}}</p>

<div class="row">
  <iframe src="{{url}}"></iframe>
</div>

</div> 

<a href="/">Home</a></br>