<h1> You're now viewing a singular walk </h1>


I'm the view template

{{id}}
{{walk_name}}
{{created_by}}
{{location}}
{{length}}
{{duration}}
{{difficulty}}
{{description}}
{{url}}
{{image}}
{{dog_friendly}}